# practice

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
#Create a DataFrame df from this dictionary data which has the index labels.

In [ ]:
#Display a summary of the basic information about this DataFrame and its data.

In [ ]:
#Return the first 3 rows of the DataFrame df.

In [ ]:
#Select just the 'animal' and 'age' columns from the DataFrame df.

In [ ]:
#Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [ ]:
#Change the age in row 'f' to 1.5.

In [ ]:
#Select only the rows where the number of visits is greater than 2.

In [ ]:
#Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.

In [ ]:
#Count the number of each type of animal in df.

In [ ]:
#Select the rows where the age is missing, i.e. is NaN.

# Assignment

* Read "cars.csv" as a dataframe with the first row in the csv file as column names
   * Sort the data by "cylinders" and "mpg" in decending order and report the first three rows after sorting
   * Create a new column called "brand" to store the brand name as the first word in "car" column (hint: use "apply" function)
   * Show the mean, min, and max acceleration values by "cylinders" for each of these brands: "ford", "buick" and "honda"
   * (bonus)Create a cross tab to show the average mpg of each brand and each clinder value. Use "brand" as row index and "clinders" as column index.

## bonus

### 1. analyze the frequency of words in a string (1 point)
   * has a string as an input 
   * splits the string into a list of tokens by space. For example, "hello world" will be split into two tokens ['hello','world']
   * for the tokens, do the following in sequence:
      * strips all leading and trailing space of each token
      * removes a token if it contain no more than 1 character (use function *len* on each token, i.e. *len*(token)<=1)
      * converts all tokens into lower case
   * create a dictionary containing the count of every remaining token, e.g. {'is': 5, 'hello':1,...}
   * returns the dictionary as the output
     

### 2.  data cleaning (1 point)
* For airbnb listing, clean the dataset, choose approaches which you think are reasonable to handle all missing values.  
* Convert 'host_response_rate' and 'price' to number.

In [ ]:
text='''Hello world!
        This is a hello world example !'''
token_count={}
#add your code